body
  display: flex
  flex-direction: column
  min-height: 100vh
  margin: 0
  box-sizing: border-box
  -webkit-text-size-adjust: 100%

body > header, body > footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

header a, footer a
  display: inline-block

footer a
  margin: .75em 0

nav
  margin: .5em -1.3em
  a
    margin: 0 1.3em
  svg
    font-size: 1.1em
    vertical-align: sub

main nav
  font-size: 1.1em
  margin: 1.4em 0
  div
    margin: .5em 0

header h1
  font-size: 1.75em
  margin: 0
  body > &
    font-size: 1.35em

article, main
  flex-grow: 1
  
.post-card
  position: relative
  padding: 1.5rem
  margin-bottom: 1.5rem
  border-radius: 12px
  border: 1px solid #ddd
  transition: all 0.2s ease

  &:hover
    transform: translateY(-3px)
    box-shadow: 0 10px 25px rgba(0,0,0,0.08)

.post-link-overlay
  position: absolute
  inset: 0
  z-index: 10

h2, small, p
  position: relative
  z-index: 1

.breadcrumb
  font-size: 0.9rem
  margin-bottom: 0.5rem
  opacity: 0.6

  a
    text-decoration: none


    
    
    
.back-button
  display: inline-flex
  align-items: center
  gap: 0.3rem

  margin-bottom: 1rem
  padding: 0.2rem 0.4rem
  font-size: 0.8rem
  text-decoration: none

  border-radius: 6px
  border: 1px solid transparent
  background: transparent
  color: #111

  transition: all 0.2s ease

  &:hover
    background: #f3f4f6
    border-color: #dcdcdc


.post-navigation
  display: flex
  gap: 0.8rem
  margin-top: 2rem

  // 🔥 quando só tiver 1 botão (resolve teu bug)
  a:only-child
    max-width: 50%
    margin-left: 0 !important   // força esquerda


.nav-card
  flex: 1
  padding: 0.7rem 0.9rem
  border-radius: 8px
  text-decoration: none

  display: flex
  flex-direction: column

  background: transparent
  border: 1px solid transparent
  color: #111

  transition: all 0.2s ease

  &:hover
    background: #f3f4f6
    border-color: #dcdcdc
    transform: translateY(-2px)


.nav-label
  font-size: 0.7rem
  opacity: 0.5
  margin-bottom: 0.2rem


.nav-title
  font-size: 0.9rem
  font-weight: 500
  line-height: 1.3


.prev
  text-align: left


.next
  text-align: right
